body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
  padding: 20px 20px;
  font-size: 20px;
  color: #A0A4B2;
}

.top-title{
  font-size: 36px;
  color: #3A3232;
}

.main{
  text-align: center;
}

.card{
  display: inline-block;
  margin: 30px 0;
  padding: 50px 150px;
  border: 5px solid #565C72;
  background-color: "#fff";
}

.face{
  margin: 0 100px 25px 0;
}

.info{
  display: inline-block;
}

.basic-info{
  text-align: center;
  margin: 10px 0 15px 0;
}

.name{
  font-size: 32px;
  color: #565C72;
  margin: 0;
}

.birthday{
  font-size: 28px;
  margin: 0;
}

section{
  text-align: initial;
  margin: 10px 0 10px 0;
}

.ul-thema{
  margin: 0 0 5px 0;
  font-size: 24px;
  font-weight: bold;
  color: #565C72;
}

ul{
  margin: 0 0 3px 0;
  padding: 0 0 0 24px;
  list-style: none;
}

a{
  text-decoration: none;
}

footer{
  display: initial;
  font-size: 12px;
  text-align: center;
}



